<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>47ème Challenge UJGDV à Cheseaux</title>
    
<style>
   /* Style global */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    font-size: 100%; /* Taille de police par défaut */
} 

/* Footer */
footer {
    background: #00c8ff;
    color: #ffffff;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
    color: #fff;
}

footer a {
    color: #ff9100;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}


</style>

</head>

<body>

<footer>
  <br>
    <p>Suivez-nous sur <a href="https://www.instagram.com/challenge2026cheseaux?igsh=MWh5ZDl4bG12MGhpMQ%3D%3D&utm_source=qr" target="_blank">Instagram</a> et <a href="https://www.tiktok.com/@challenge2026cheseaux?_t=8pqsKsimreS&_r=1" target="_blank">TikTok</a></p>
    <p>&copy; 47ème Challenge UJGDV à Cheseaux 2026 | Tous droits réservés.</p>
    <br>
</footer>

</body>

</html>