/* Style global */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #000000;
    background-size: cover; /* L'image couvre toute la zone en maintenant ses proportions */
    background-position: center; /* Centre l'image */
    background-repeat: no-repeat; /* Empêche la répétition de l'image */
    font-size: 16px; /* Taille de police par défaut */
    background-color: #f0f8ff; /* Couleur de fond par défaut (un bleu très clair) */
}

/* Header */
header {
    background: #00c8ff;
    color: #ff9100;
    padding: 0px 0px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

header h2 {
    margin: 0;
    font-size: 1.5em;
}

header p {
    font-size: 1.2em;
}

/* Navigation */
nav {
    background: #00c8ff;
    color: #ff9100;
    padding: 10px;
    text-align: center;
}

nav ul {
    padding: 0;
    list-style: none;
    margin: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 15px;
}

nav ul li a {
    color: #ff9100;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Logo dans la barre de navigation */
nav ul li img.logo {
    width: 75px;
    height: 75px;
    vertical-align: middle;
    margin-right: 20px;
}

/* Section générale */
section {
    padding: 0px 0px 20px 0px;
    margin: 20px 0;
    background: rgba(255, 255, 255, 0.9); /* Légèrement transparent */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 162, 255, 0.2);
    display: flex; /* Utiliser Flexbox pour la disposition */
    flex-wrap: wrap; /* Permettre aux éléments de passer à la ligne */
    justify-content: space-around; /* Espacement entre les colonnes */
}

/* Sections des sports */
.sport {
    border: 1px solid black;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
    width: calc(50% - 40px); /* Largeur pour deux colonnes, avec espace pour les marges */
    box-sizing: border-box; /* Inclure le padding et la bordure dans la largeur totale */
}

/* Style pour les images de sport */
.sport img.sport-image {
    width: 80%; /* Largeur à 100% du conteneur */
    height: auto; /* Hauteur automatique pour maintenir les proportions */
    border-radius: 5px; /* Coins arrondis pour les images */
    margin: 10px 10%; /* Marge inférieure pour espacer le texte */

}

/* Footer */
footer {
    background: #00c8ff;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}

h2 {
    text-align: center;
}

#title {
    text-align: center;
    width: 80%;  /* Largeur de 300 pixels */
    height: 80px; /* Hauteur de 200 pixels */
}

footer a {
    color: #ff9100;
}

footer a:hover{
    color: #d17906;
}

button {
    background-color: #00c8ff; /* Couleur de fond verte */
    color: #ffffff; /* Couleur du texte */
    padding: 10px 20px; /* Espacement interne du bouton */
    border: none; /* Pas de bordure */
    border-radius: 5px; /* Coins arrondis */
    font-size: 16px; /* Taille du texte */
    font-weight: bold; /* Texte en gras */
    cursor: pointer; /* Curseur en mode pointer (main) */
    transition: background-color 0.3s, transform 0.3s; /* Animation de la couleur de fond et du mouvement */
}

button:hover {
    background-color: #45a049; /* Couleur au survol */
    transform: scale(1.05); /* Légère agrandissement au survol */
}

button:active {
    background-color: #3e8e41; /* Couleur lorsque le bouton est cliqué */
    transform: scale(0.98); /* Légère réduction au clic */
}
