/* Style global */
@font-face {
    font-family: 'NexaRustSans-Trial-Black2';
    src: url(../../fonts/NexaRustSans-Trial-Black2.ttf);
}

@font-face {
    font-family: 'Barlow-Black';
    src: url(../../fonts/Barlow-Black.ttf);
}

@font-face {
    font-family: 'Barlow-Light';
    src: url(../../fonts/Barlow-Light.ttf);
}

@font-face {
    font-family: 'Barlow-Medium';
    src: url(../../fonts/Barlow-Medium.ttf);
}

body {
    font-family: 'Barlow-Medium', Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: rgb(33, 87, 131) ;
    color: #ffffff;
    background-size: cover; /* L'image couvre toute la zone en maintenant ses proportions */
    background-position: center; /* Centre l'image */
    background-repeat: no-repeat; /* Empêche la répétition de l'image */
    font-size: 100%; /* Taille de police par défaut */
    padding-top: 60px;
}

/* Header */
header {
    background: rgb(26 62 91);
    color: rgb( 220, 129, 64);
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

header h2 {
    margin: 0;
    font-size: 1.5em;
}

/* Navigation */
nav {
    background: rgb(26 62 91);
    color: #ffffff;
    text-align: center;
}

nav ul {
    padding: 0;
    list-style: none;
    margin: 0;
    display: flex;
    position: relative;
    top: 50%;
    transform: translateY(-50%)
}

nav ul li { 
    margin-right: 1rem;
}

nav ul li a {
    color: rgb( 220, 129, 64);
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Logo dans la barre de navigation */
.logo {
    width: 75px;
    height: 75px;
    vertical-align: middle;
    margin-left: 20px;
}

#title {
    font-family: "NexaRustSans-Trial-Black2";
    font-size: 100px;
    text-align: center;
    margin: 0;
    line-height: 45px;
    margin-top: 50px;
    color: rgb( 220, 129, 64);
}

#sous-title {
    font-family: "Barlow-Black";
    font-size: 66px;
    text-align: center;
    margin: 0;
    
}

#mini-title {
    font-family: 'Barlow-Medium';
    font-size: 65px;
    text-align: center;
    margin: 0;
    line-height: 45px;
}

/* Section générale */
section {
    padding: 2rem;
    margin: 2rem 0;
    background: #fff0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(2, 162, 255, 0.1);
}

section h3 {
    margin-top: 0;
    margin-bottom: 0;
}

/* Footer */
footer {
    background: rgb(26 62 91);
    color: #ffffff;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
    color: #fff;
}

footer a {
    color: rgb( 220, 129, 64);
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

#timer {
    font-size: 3rem;
    display: flex;
    justify-content: center;
    gap: 1.25rem;
    margin-top: 3rem;
    margin-bottom: 15rem;
    height: 50px;
}

.time-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(220, 129, 64, 0.795);;
    color: white;
    padding: 1rem;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    width: 13%;
    height: 200px;
}

.label {
    font-size: 1.7rem;
    color: #fff;
    text-transform: uppercase;
    font-weight: normal;
    opacity: 0.8;
    text-align: center;
}

#timer .time-box:hover {
    background: rgb(220, 129, 64);
    transform: scale(1.1);
    transition: 0.3s;
}

span {
    font-size: 85px;
    margin-top: 18%;
    line-height: 130px;
}

 #Home-page {
    background: linear-gradient(rgb(26, 62, 91) 35%, white 100%);
 }

 #withe-page {
    background: linear-gradient(white, rgb(26, 62, 91));
 }

 .carousel {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: auto;
}

.carousel img {
    width: 600px; /* Ajuste selon besoin */
    height: auto;
    border-radius: 10px;
    transition: opacity 0.5s ease-in-out;
    margin-bottom: 40px;
}

button {
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 24px;
    cursor: pointer;
    transition: 0.3s;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

button:hover {
    background: rgba(0, 0, 0, 0.8);
}

#text {
    text-align: center;
    font-family: 'Barlow-Black';
    font-size: 32px;
    line-height: 10px;
}

#button-ctn {
    text-align: center;
    margin: 10px 0;
}

#btn {
    display: inline-block;
    padding: 15px 30px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background: linear-gradient(45deg, #DC8140, #FF9900); /* Dégradé orange stylé */
    border-radius: 10px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

#btn:hover {
    transform: scale(1.1);
    background: linear-gradient(45deg, #FF9900, #DC8140); /* Inversion du dégradé */
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.3);
}

#sponsors {
    padding: 30px 0;
    text-align: center;
  }

  .sponsor-carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 600px;
    margin: 0 auto;
    position: relative;
  }

  .carousel-container {
    display: flex;
    overflow: hidden;
    width: 500px; /* 3 images de 150px */
  }

  .carousel-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }

  .carousel-track img {
    width: 150px;
    height: auto;
    margin: 0 10px;
    border-radius: 10px;
  }
  